<ion-content>

  <div class="credentials">
    <div style="float:left;">
      <img src="../../../assets/img/avatar.jpg" alt="Avatar" style="float: left;">
    </div>
    <div class="user">
      <p>Username</p>
    </div>
    <div style="clear: left;"></div>
  </div>



  <ion-card fullscreen>
    <ion-card-header color="danger">
      <ion-card-title color="light"> Information</ion-card-title>
    </ion-card-header>
    <ion-card-header color="medium">
      <ion-card-subtitle color="dark">
        Full name
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-header color="light">
      <ion-card-subtitle color="dark">
        Role
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-header color="medium">
      <ion-card-subtitle color="dark">
        Email Adress
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-header color="light">
      <ion-card-subtitle color="dark">
        Password
      </ion-card-subtitle>
    </ion-card-header>





  </ion-card>


  <ion-card fullscreen style="margin-top: 21px;">
    <ion-card-header color="danger">
      <ion-card-title color="light"> Contributions</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <canvas #doughnutCanvas></canvas>

    </ion-card-content>


  </ion-card>



</ion-content>