<ion-content>
  <ion-card color="transparent">
    <img src="../../../assets/img/wide1.png" />
    <ion-card-content >
      <ion-text color="light">
    <p > ProjectAdmin is an app to help you better organize your data.Lead your team to succes.
    </p>
    </ion-text>
    </ion-card-content>

  </ion-card>


    <ion-item color="transparent">
      <ion-label color="light" id="name" position="floating">
       <p>
         <ion-icon name="body-outline"></ion-icon> Full Name
       </p>
       </ion-label>
      <ion-input color="transparent" [(ngModel)]="name"></ion-input>
    </ion-item>


  <ion-item color="transparent">
    <ion-label position="floating" color="light">
      <p>
        <ion-icon name="person-circle-outline"></ion-icon> Email address
      </p>
    </ion-label>
    <ion-input type="Email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item color="transparent">
    <ion-label color="light" position="floating" minlength="5" pattern="Password">
      <p>
        <ion-icon name="lock-closed-outline"></ion-icon> Password
      </p>

    </ion-label>
    <ion-input color="light" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>


    <ion-radio-group value="group">
      <ion-list-header>
        <ion-label color="light">
          <p>
            <ion-icon name="clipboard-outline"></ion-icon>&nbsp; &nbsp; ROLE
          </p>
        </ion-label>
      </ion-list-header>
      <ion-item color="transparent">
        <ion-label color="light">
          <p>
            <ion-icon name="person-outline"></ion-icon>&nbsp; &nbsp;A team leader
          </p>
        </ion-label>
        <ion-radio color="transparent" slot="start" color="success" value="teamleader"></ion-radio>
      </ion-item>

      <ion-item color="transparent">
        <ion-label color="light">
          <p>
            <ion-icon name="people-outline"></ion-icon>&nbsp; &nbsp; A member
          </p>
        </ion-label>
        <ion-radio color="transparent" slot="start" color="tertiary" value="member"></ion-radio>
      </ion-item>
    </ion-radio-group>
  

  
    <ion-button color="light" expand="block" (onclick)="potsToDb">
     <ion-icon name="person-add-outline"></ion-icon>
     <p> &nbsp; &nbsp;Create account!</p>
    </ion-button>
  

  <div>


    <ion-button fill="clear" color="light" (click)="navigateToLoginPage()" style="margin-left: 133px;">
      <ion-icon name="log-in-outline"></ion-icon> &nbsp; &nbsp;Login
    </ion-button>


  </div>

</ion-content>

