ion-input {
    --color: #f4f5f8;
}

ion-item {
    padding-top: 3px;
    position: block;
    margin-bottom: 2px;
}

p {
    font-weight: bold;
}

ion-content {
    --background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    background-color: #7f5a83;

}


ion-button {
    margin-top: 20px;
}