<ion-content>
  <ion-card color="transparent">
    <ion-card-header>

      <ion-card-title>Nlinit</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2> Nlinit is a completely free app -for now-.</h2> <br />
      <h2> Create your desired projects </h2> <br />
      <h2> Check your charts </h2> <br />
      <h2>Add
        members
        and lot more</h2>
    </ion-card-content>
  </ion-card>


  <ion-card color="transparent">
    <ion-card-title>Register :</ion-card-title>
    <ion-item color="transparent">
      <ion-label color="transparent" id="name" position="floating">
       <h2> Name </h2>
       </ion-label>
      <ion-input color="transparent" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item color="transparent">
      <ion-label color="transparent" position="floating">
        <h2> Surname</h2>
      </ion-label>
      <ion-input color="transparent" [(ngModel)]="surname"></ion-input>
    </ion-item>

    <ion-item color="transparent">
      <ion-label color="transparent" position="floating">
        <h2>Email address</h2>
      </ion-label>
      <ion-input color="transparent" type="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item color="transparent">
      <ion-label color="transparent" position="floating" minlength="5" pattern="Password">Password
      </ion-label>
      <ion-input color="transparent" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>


    <ion-radio-group value="group">
      <ion-list-header>
        <ion-label>Pick your role :</ion-label>
      </ion-list-header>
      <ion-item color="transparent">
        <ion-label color="transparent">A team leader</ion-label>
        <ion-radio color="transparent" slot="start" color="success" value="teamleader"></ion-radio>
      </ion-item>

      <ion-item color="transparent">
        <ion-label color="transparent">A member</ion-label>
        <ion-radio color="transparent" slot="start" color="tertiary" value="member"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card>

  <ion-card color="transparent">
    <ion-button expand="block" (onclick)="potsToDb">Create account!</ion-button>
    <ion-button expand="full" color="secondary" (click)="navigateToLoginPage()">I already got an account!</ion-button>
  </ion-card>

</ion-content>







<style>
  ion-item {
    padding-top: 3px;
    position: block;
    margin-bottom: 2px;
  }




  ion-card-title {
    color: rgb(92, 88, 88);
  }



  ion-header {
    top: 180px;
    display: block;
  }


  ion-content {
    --background: #fff url('/assets/img/bcgreg.jpg') no-repeat center center / cover;
  }



  ion-button {
    position: relative;
  }
</style>