<ion-item color="transparent">
  <ion-label position="floating">
    <p>
      <ion-icon name="briefcase-outline"></ion-icon> Project Name
    </p>
  </ion-label>
  <ion-input type="text" [(ngModel)]="projectname"></ion-input>
</ion-item>

<ion-item color="transparent">
  <ion-label position="floating">
    <p>
      <ion-icon name="information-circle-outline"></ion-icon> Project Information
    </p>
  </ion-label>
  <ion-input type="text" [(ngModel)]="projectinformation"></ion-input>
</ion-item>

<ion-item>
  <ion-label id="start-date" position="floating" color="primary">Start date</ion-label>
  <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label id="start-date" position="floating" color="primary">Project Ends on</ion-label>
  <ion-datetime value="1990-02-20" placeholder="Select Date"></ion-datetime>
</ion-item>








<div style="display: inline-block;">

    <ion-button fill="clear" (click)="dismissModal()">
      <ion-icon name="close-circle-outline"></ion-icon> &nbsp; &nbsp;Cancel
    </ion-button>
    
  <ion-button fill="clear" (click)="savePoject()" >
    <ion-icon name="save-outline"></ion-icon> &nbsp; &nbsp;Save
  </ion-button>


</div>