ion-button {
    position: relative;

}

ion-card-title {
    color: rgb(92, 88, 88);
}

ion-content {
    --background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

ion-input {
    --color: #f4f5f8;
}

ion-item {
    padding-top: 3px;
    position: block;
    margin-bottom: 2px;
}


div {
    margin-top: 154;
}


ion-button {
    margin-top: 73px;
    border-radius: 50%;

}

p {
    font-weight: bold;
}