<ion-content>


  <ion-card color="transparent">
    <img src="../../../assets/img/logo.png" />

  </ion-card>



  <ion-item color="transparent">
    <ion-label position="floating" color="light">
      <p>
        <ion-icon name="person-circle-outline"></ion-icon> Email address
      </p>
    </ion-label>
    <ion-input type="Email" [(ngModel)]="email"></ion-input>
  </ion-item>


  <ion-item color="transparent">
    <ion-label color="light" position="floating" minlength="5" pattern="Password">
      <p>
        <ion-icon name="lock-closed-outline"></ion-icon> Password
      </p>

    </ion-label>
    <ion-input color="light" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>



  <ion-button color="light" expand="block" (click)="navigateToHome()">
    <ion-icon name="log-in-outline"></ion-icon>
    <p>
      &nbsp; &nbsp;Login
    </p>
  </ion-button>


  <div>


    <ion-button fill="clear" color="light" (click)="navigateToSignupPage()" style="margin-left: 133px;">
      <ion-icon name="person-add-outline"></ion-icon> &nbsp; &nbsp;Sign up
    </ion-button>


  </div>







</ion-content>