img {
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    left: initial;
    width: 150px;
    margin-left: 60px;
}

ion-card {
    margin-bottom: 10px;
    margin-top: 11px;
    position: relative;

}

ion-menu,
ion-menu-toggle {


    --background: linear-gradient(315deg, #7d5abee5 0%, #09203ffa 74%);

}

ion-button {
    margin-bottom: 7px;
}

.higher{
    margin-top:35px ;
    position: relative;
}

.lower {
    margin-top: 197px;
    position: relative;
}


.my-custom-menu {
    --width: 500px;
}

ion-toolbar {
    --background: linear-gradient(315deg, #0e2c41 0%, #0d324d 74%);
    background-color: #7f5a83;
}

.ion-page {
    background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

}