<ion-content>

  <section>
    <h1>Nlinit </h1>





    <ion-card class="card">

      <ion-item-divider>
        <ion-label color="tertiary">
          Sign_up with
        </ion-label>
      </ion-item-divider>
      <br>
      <ion-button color="light" expand="block" fill="outline" (click)="toSignup()">
        <ion-icon name="mail-outline"></ion-icon> &nbsp;
        <p> Signup with Email </p>
      </ion-button>

      <br>

      <ion-button color="light" expand="block" fill="outline">
        <ion-icon name="logo-google"></ion-icon> &nbsp;
        <p> Login using Google</p>
      </ion-button>


      <ion-button color="light" expand="block" fill="outline">
        <ion-icon name="logo-facebook"></ion-icon> &nbsp;
        <p>Login using Facebook</p>
      </ion-button>
      <br>
      <ion-item-divider>
        <ion-label color="tertiary">
          Already got an account?
        </ion-label>
      </ion-item-divider>
      <br>
      <ion-button color="light" expand="block" fill="outline" (click)="toLogin()"> &nbsp;
        <ion-icon name="log-in-outline"></ion-icon>
        <p>Login</p>
      </ion-button>

    </ion-card>
  </section>



</ion-content>