<ion-header>
  <ion-toolbar>
    <ion-title>projectspage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
        <ion-item *ngFor="let todo of taskList; let i=index">
          {{todo}}
          <div class="item-note" slot="end">
            <ion-button color="danger" clear (click)="deleteTask(i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </ion-item>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="addpPoject()">
        <ion-icon name="add-sharp"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>


  </ion-fab>
</ion-content>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="Enter task" [(ngModel)]="taskName"></ion-input>

    <div class="item-note" item-end>
      <ion-button color="primary" (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
  <div padding>
    <ion-list>
      <ion-item *ngFor="let todo of taskList; let i=index">
        {{todo}}
        <div class="item-note" slot="end">
          <ion-button color="danger" clear (click)="deleteTask(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
