
<ion-content>
<!--<app-side-menu></app-side-menu>-->

<div class="description">
  <h2>Welcome back!</h2>
  <p>Below you can find all of your projects.</p>
    <p> You can always add new projects by taping the <ion-icon name="add-outline"></ion-icon>
  </p>
  
</div>

  <div class="projectcards">
  <ion-card type="button" (click)="navigateToDashboard()">
    <ion-card-header>
      <ion-card-title>Projectname1</ion-card-title>
      <ion-card-subtitle>due to date</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      Description
    </ion-card-content>
    
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Projectname2</ion-card-title>
            <ion-card-subtitle>due to date</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Description
    </ion-card-content>
  </ion-card>
</div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark" (click)="addpPoject()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>



  </ion-fab>
</ion-content>