<ion-content>
    <ion-card class="firstcard">
        <ion-card-title>
            <ion-item>
                <div style="float:left;">
                    <img src="../../../assets/img/avatar.jpg" alt="Avatar" style="float: left;">
                </div>
                <h3>&nbsp;&nbsp;UserName</h3>


                <ion-fab-button class="message" color="warning">
                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                </ion-fab-button>



            </ion-item>
        </ion-card-title>

        <ion-card-title>
            <ion-item>
                Tasks will be listed here

            </ion-item>
        </ion-card-title>
    </ion-card>


</ion-content>